* {
font-family: Arial;
}
body{ color: rgb(50,50,50);
  background-color: rgba(255,165,0,0.3);
  background-image: url("https://c.tenor.com/MczP9_agHqYAAAAC/bob-odenkirk-better-call-saul.gif");
  background-repeat: no-repeat;
  background-position: right top;





}
iframe{
  max-width: 500px;
  max-height: 200px;
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
  transition-property: max-width;
  transition-property: max-height;
  transition-duration: 2s;
}
iframe:hover{
  max-width: 500px;
  max-height: 500px;

}

h1{
  text-align: center;
}

h1 {
  color: rgb(255, 0, 0);
  background-color: rgb(40, 40,40);
  border-radius: 10px;
  font-size: 75px;
}
a {
  color:red;
}
a:visited {
  color:purple;

}

img {
  max-width: 260px;
  border-width: 6px;
  border-color: rgba(0,0,0,0.5);
  border-style: solid;
  border-radius: 10px;
  transition-property: max-width;
  transition-duration: 2s;
}
img:hover {
  max-width: 400px;
}
 td,th {
  border: 1px solid;
  border-radius: 10px;

}
#GeorgOperario {
  font-size: 50px;
}
